@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800&display=swap");

:root {
  --text-color-white: #fff;
  --text-color-blue: #0891ac;
  --font-family: "Nunito";
  --backgroud-color: #addfeb;
  --gradient-button-color: linear-gradient(84.45deg,
      #167286 -5.05%,
      rgba(5, 197, 239, 0.703125) 120.32%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #0891ac;
  color: #fff;
}

::selection {
  background-color: #0891ac;
  color: #fff;
}

.grid {
  margin: 0 auto;
  width: 90%;
}

.header {
  position: relative;
  width: 100%;
  height: 760px;
  background: url(../../../assets/BackgroundHeader.svg);
  background-repeat: no-repeat;
  background-size: 98%;
  background-origin: padding-box;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .header {
    height: 710px;
  }
}

@media screen and (max-width: 1170px) {
  .header {
    height: 650px;
  }
}

@media screen and (max-width: 1118px) {
  .header {
    height: 620px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 570px;
  }
}

@media screen and (max-width: 940px) {
  .header {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 550px;
    background: url(../../../assets/BackgroundTablet.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 501px) {
  .header {
    margin-top: 30px;
    height: 300px;
    background: url(../../../assets/BackGround-Mobile.svg);
    background-size: 111%;
    background-repeat: no-repeat;
  }
}

.header .grid {
  margin: 0 auto;
  width: 90%;
}

.header .banner {
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1170px) {
  .header .banner {
    height: 650px;
  }
}

.header .banner__text {
  padding-top: 150px;
  width: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1279px) {
  .header .banner__text {
    padding-top: 130px;
  }
}

@media screen and (max-width: 1024px) {
  .header .banner__text {
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .header .banner__text {
    padding-top: 80px;
  }
}

@media screen and (max-width: 501px) {
  .header .banner__text {
    padding-top: 35px;
  }
}

.header .banner__text--upper {
  text-transform: uppercase;
  color: #e2e2e2;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 8px;
}

@media screen and (max-width: 1279px) {
  .header .banner__text--upper {
    font-size: 20px;
  }
}

@media screen and (max-width: 1170px) {
  .header .banner__text--upper {
    font-size: 17px;
  }
}

@media screen and (max-width: 1024px) {
  .header .banner__text--upper {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header .banner__text--upper {
    display: none;
  }
}

.header .banner__text--big {
  color: var(--text-color-white);
  font-size: 90px;
  font-weight: bold;
  line-height: 90px;
  width: 80%;
}

@media screen and (max-width: 1279px) {
  .header .banner__text--big {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
  }
}

@media screen and (max-width: 1118px) {
  .header .banner__text--big {
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .header .banner__text--big {
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
  }
}

@media screen and (max-width: 768px) {
  .header .banner__text--big {
    font-size: 65px;
    line-height: 65px;
  }
}

@media screen and (max-width: 501px) {
  .header .banner__text--big {
    font-size: 36px;
    line-height: 35px;
  }
}

.header .banner__text--para {
  width: 90%;
  color: #e2e2e2;
  font-weight: bold;
  margin: 15px 0px 40px 0px;
  font-size: 18px;
}

@media screen and (max-width: 1279px) {
  .header .banner__text--para {
    width: 90%;
    font-weight: bold;
    margin: 20px 0px 40px 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1170px) {
  .header .banner__text--para {
    margin: 20px 0px 30px 0px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1118px) {
  .header .banner__text--para {
    font-size: 16px;
    margin: 15px 0px 25px 0px;
  }
}

@media screen and (max-width: 1024px) {
  .header .banner__text--para {
    width: 90%;
    font-weight: bold;
    margin: 10px 0px 30px 0px;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header .banner__text--para {
    font-size: 16px;
    margin: 10px 0px 25px 0px;
  }
}

@media screen and (max-width: 501px) {
  .header .banner__text--para {
    width: 100%;
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.header .banner__text a {
  background-image: -webkit-gradient(linear, left top, right top, from(#e1f3f7), color-stop(51%, #fff), to(#e1f3f7));
  background-image: linear-gradient(to right, #e1f3f7 0%, #fff 51%, #e1f3f7 100%);
  padding: 16px 20px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-size: 200% auto;
  color: var(--text-color-blue);
  -webkit-box-shadow: rgba(73, 73, 73, 0.25) 0px 54px 55px, rgba(71, 71, 71, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(65, 64, 64, 0.17) 0px 12px 13px, rgba(58, 57, 57, 0.09) 0px -3px 5px;
  box-shadow: rgba(73, 73, 73, 0.25) 0px 54px 55px, rgba(71, 71, 71, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(65, 64, 64, 0.17) 0px 12px 13px, rgba(58, 57, 57, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .banner__text a:hover {
  background-position: right center;
}

@media screen and (max-width: 1118px) {
  .header .banner__text a {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .header .banner__text a {
    font-size: 15px;
    padding: 14px 18px;
  }
}

@media screen and (max-width: 768px) {
  .header .banner__text a {
    font-size: 13px;
    padding: 10px 14px;
  }
}

@media screen and (max-width: 501px) {
  .header .banner__text a {
    padding: 8px 12px;
  }
}

.header .banner__slider {
  width: 50%;
  height: 750px;
  background: url(../../../assets/DoctorWoman.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  position: absolute;
  top: 120px;
  right: -170px;
}

@media screen and (max-width: 1024px) {
  .header .banner__slider {
    top: 77px;
    right: -125px;
  }
}

@media screen and (max-width: 768px) {
  .header .banner__slider {
    display: none;
  }
}

.wrap__nav {
  width: 100%;
  height: 70px;
  position: -webkit-fixed;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media screen and (max-width: 768px) {
  .wrap__nav {
    background-color: #fafafa;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #0891ac !important;
    height: 50px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.wrap__nav.activeNav {
  width: 100%;
  height: 70px;
  background-color: #30a6bee8;
  border-bottom: 1px solid #fafafa;
}

@media screen and (max-width: 768px) {
  .wrap__nav.activeNav {
    width: 100%;
    height: 80px;
    background-color: #fff !important;
    border-bottom: 1px solid #fafafa;
  }
}

.wrap__nav .header__nav {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .wrap__nav .header__nav {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .wrap__nav .header__nav {
    height: 50px;
  }
}

.wrap__nav .header__nav .wrap__logo {
  width: 25%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrap__nav .header__nav .wrap__logo {
    height: 50px;
  }
}

.wrap__nav .header__nav .wrap__logo .logo {
  width: 100%;
  height: 70px;
  background: url(../../../assets/LogoPsyCare.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrap__nav .header__nav .nav__list {
  width: 50%;
  height: 70px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrap__nav .header__nav .nav__list {
    display: none;
  }
}

.wrap__nav .header__nav .nav__list .nav__item {
  display: inline-block;
  margin: 0 20px;
}

@media screen and (max-width: 1118px) {
  .wrap__nav .header__nav .nav__list .nav__item {
    margin: 0 15px;
  }
}

@media screen and (max-width: 1024px) {
  .wrap__nav .header__nav .nav__list .nav__item {
    margin: 0 15px;
  }
}

.wrap__nav .header__nav .nav__list .nav__item a {
  padding: 7px 0px;
  border-bottom: none;
  color: var(--text-color-white);
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 1024px) {
  .wrap__nav .header__nav .nav__list .nav__item a {
    font-size: 15px;
  }
}

.wrap__nav .header__nav .nav__login {
  width: 25%;
  height: 70px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrap__nav .header__nav .nav__login {
    display: none;
  }
}

.wrap__nav .header__nav .nav__login .nav__item-login {
  margin: 0 5px;
}

.wrap__nav .header__nav .nav__login .nav__item-login a {
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}

.wrap__nav .header__nav .nav__login .login a {
  background-image: -webkit-gradient(linear, left top, right top, from(#e1f3f7), color-stop(51%, #fff), to(#e1f3f7));
  background-image: linear-gradient(to right, #e1f3f7 0%, #fff 51%, #e1f3f7 100%);
  border: 1.75px solid var(--text-color-blue);
  padding: 8px 32px;
  font-weight: 600;
  text-align: center;
  background-size: 200% auto;
  color: var(--text-color-blue);
  -webkit-box-shadow: rgba(8, 145, 172, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(8, 145, 172, 0.2) 0px 7px 29px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrap__nav .header__nav .nav__login .login a:hover {
  background-position: right center;
}

@media screen and (max-width: 1170px) {
  .wrap__nav .header__nav .nav__login .login a {
    padding: 6px 26px;
  }
}

@media screen and (max-width: 1024px) {
  .wrap__nav .header__nav .nav__login .login a {
    padding: 6px 22px;
    font-size: 15px;
  }
}

.wrap__nav .header__nav .nav__login .register a {
  background-image: -webkit-gradient(linear, left top, right top, from(#12d3fc), color-stop(51%, #177a8e), to(#12d3fc));
  background-image: linear-gradient(to right, #12d3fc 0%, #177a8e 51%, #12d3fc 100%);
  padding: 10px 25px;
  text-align: center;
  font-weight: 600;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: rgba(8, 145, 172, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(8, 145, 172, 0.2) 0px 7px 29px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrap__nav .header__nav .nav__login .register a:hover {
  background-position: right center;
  color: #fff;
}

@media screen and (max-width: 1170px) {
  .wrap__nav .header__nav .nav__login .register a {
    padding: 8px 19px;
  }
}

@media screen and (max-width: 1024px) {
  .wrap__nav .header__nav .nav__login .register a {
    padding: 8px 18px;
    font-size: 15px;
  }
}

.wrap__nav .header__nav .nav__hamburger {
  display: none;
  color: var(--text-color-blue);
  font-size: 25px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .wrap__nav .header__nav .nav__hamburger {
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
  }
}

.wrap__nav .header__nav .nav__hamburger span {
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
}

.wrap__nav .header__nav .nav__input {
  display: none;
}

.wrap__nav .header__nav .nav__input:checked~.nav__overlay {
  display: block;
}

.wrap__nav .header__nav .nav__input:checked~.nav__mobile {
  -webkit-transform: translate(0%);
  transform: translate(0%);
  opacity: 1;
}

.wrap__nav .header__nav .nav__input:checked~.nav__mobile .exit__btn {
  cursor: pointer;
}

.wrap__nav .header__nav .nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeIn linear 0.5s;
  animation: fadeIn linear 0.5s;
  z-index: 5;
}

.wrap__nav .header__nav .nav__mobile {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  -webkit-transform: translate(100%);
  transform: translate(100%);
  opacity: 0;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

@media screen and (max-width: 768px) {
  .wrap__nav .header__nav .nav__mobile {
    display: block;
    background-color: #fff;
  }
}

.wrap__nav .header__nav .nav__mobile .exit {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid var(--text-color-blue);
}

.wrap__nav .header__nav .nav__mobile .exit .exit__btn {
  font-size: 24px;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list {
  margin-top: 24px;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .ham_under a {
  border-bottom: 1px solid #0891ac3f;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .ham_under:hover a {
  color: #12d3fc;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .nav__hamburger-item {
  list-style: none;
  margin: 0 24px;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .nav__hamburger-item a {
  display: block;
  padding: 12px 0;
  color: var(--text-color-blue);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .ham_login {
  border: 2px solid #0891ac3f;
  text-align: center;
  margin-top: 15px;
  border-radius: 8px;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .ham_login:hover {
  background-color: #62949e3f;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .ham_register {
  background: linear-gradient(84.45deg, #167286 -5.05%, rgba(5, 197, 239, 0.703125) 120.32%);
  text-align: center;
  margin-top: 15px;
  border-radius: 8px;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .ham_register:hover {
  opacity: 0.8;
}

.wrap__nav .header__nav .nav__mobile .nav__hamburger-list .ham_register a {
  color: #fff;
}

.services {
  width: 100%;
  height: 760px;
}

@media screen and (max-width: 1170px) {
  .services {
    height: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .services {
    height: 710px;
  }
}

@media screen and (max-width: 768px) {
  .services {
    height: 700px;
  }
}

@media screen and (max-width: 501px) {
  .services {
    height: 750px;
  }
}

.services .grid {
  margin: 0 auto;
  width: 90%;
}

.services__text {
  text-align: center;
  margin: 30px auto;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 1279px) {
  .services__text {
    width: 70%;
  }
}

@media screen and (max-width: 1170px) {
  .services__text {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .services__text {
    width: 80%;
  }
}

@media screen and (max-width: 501px) {
  .services__text {
    width: 100%;
  }
}

.services__text h1 {
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  .services__text h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 501px) {
  .services__text h1 {
    font-size: 25px;
  }
}

.services__text h1::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 2px;
  background-color: var(--text-color-blue);
}

@media screen and (max-width: 1024px) {
  .services__text h1::before {
    top: 50px;
  }
}

.services__text p {
  margin-top: 35px;
  color: #8f8f8f;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .services__text p {
    margin-top: 25px;
    color: #8f8f8f;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
  }
}

@media screen and (max-width: 501px) {
  .services__text p {
    margin-top: 35px;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
  }
}

.services__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__list .services__image {
  width: 45%;
  height: 500px;
  background: url(../../../assets/DoctorCursor.svg);
  background-repeat: no-repeat;
  background-size: 90%;
}

@media screen and (max-width: 1170px) {
  .services__list .services__image {
    height: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .services__list .services__image {
    height: 500px;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .services__list .services__image {
    display: none;
  }
}

.services__list__item {
  width: 55%;
  height: 480px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .services__list__item {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .services__list__item {
    width: 100%;
  }
}

.services__list__item--sub {
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .services__list__item--sub {
    text-align: center;
  }
}

.services__list__item--sub .wrapIcon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(163, 205, 215, 0.15) 0px 54px 55px, rgba(163, 205, 215, 0.12) 0px -12px 30px, rgba(114, 112, 112, 0.12) 0px 4px 6px, rgba(105, 102, 102, 0.17) 0px 12px 13px, rgba(126, 121, 121, 0.09) 0px -3px 5px;
  box-shadow: rgba(163, 205, 215, 0.15) 0px 54px 55px, rgba(163, 205, 215, 0.12) 0px -12px 30px, rgba(114, 112, 112, 0.12) 0px 4px 6px, rgba(105, 102, 102, 0.17) 0px 12px 13px, rgba(126, 121, 121, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 1024px) {
  .services__list__item--sub .wrapIcon {
    margin: 0 auto;
  }
}

.services__list__item--sub .wrapIcon .icon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #0891ac;
  padding: 12px;
}

.services__list__item--sub .wrapIcon .icon svg {
  height: 100%;
  width: 100%;
  display: block;
  fill: var(--text-color-blue);
}

.services__list__item--sub .wrapIcon:hover {
  background: var(--text-color-blue);
}

.services__list__item--sub .wrapIcon:hover .icon {
  border: 2px solid #fff;
  background-color: var(--text-color-blue);
}

.services__list__item--sub .wrapIcon:hover .icon svg {
  fill: #fff;
}

.services__list__item--sub .title {
  text-transform: uppercase;
  font-weight: 800;
  margin: 30px 0px;
}

.services__list__item--sub .title::before {
  content: "";
  position: absolute;
  top: 135px;
  width: 40px;
  height: 2px;
  background: var(--text-color-blue);
}

@media screen and (max-width: 1024px) {
  .services__list__item--sub .title::before {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.services__list__item--sub .description {
  color: #8f8f8f;
}

.connect {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .connect {
    height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .connect {
    height: 1100px;
  }
}

@media screen and (max-width: 768px) {
  .connect {
    height: 1000px;
  }
}

@media screen and (max-width: 501px) {
  .connect {
    height: 850px;
  }
}

.connect__text {
  text-align: center;
  margin: 20px auto;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .connect__text {
    width: 70%;
  }
}

.connect__text h1 {
  font-size: 40px;
  line-height: 45px;
}

@media screen and (max-width: 501px) {
  .connect__text h1 {
    font-size: 25px;
    line-height: 25px;
  }
}

.connect__list {
  height: 300px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.connect__list .image {
  height: 500px;
  background: url(../../../assets/ConnectLeft.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 768px) {
  .connect__list .image {
    width: 60%;
    height: 400px;
  }
}

@media screen and (max-width: 501px) {
  .connect__list .image {
    height: 300px;
  }
}

.connect__list__item {
  width: 45%;
}

@media screen and (max-width: 1024px) {
  .connect__list__item {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .connect__list__item {
    width: 100%;
  }
}

.connect__list__item h2 {
  color: #8f8f8f;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

@media screen and (max-width: 501px) {
  .connect__list__item h2 {
    font-size: 20px;
  }
}

.connect__list__item h2::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 2px;
  background-color: var(--text-color-blue);
}

.connect__list__item--sub {
  margin-top: 15px;
  padding: 15px 20px;
  height: auto;
  width: 100%;
  background-color: #fafafa;
  border-left: 2px solid var(--text-color-blue);
  border-right: 2px solid var(--text-color-blue);
  border-radius: 25px;
  cursor: default;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.connect__list__item--sub:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #f3f3f3;
  border-left: 6px solid var(--text-color-blue);
  border-right: 6px solid var(--text-color-blue);
}

.quiz {
  background-color: yellowgreen;
  background: url(../../../assets/BackgroundQuiz.svg);
  background-size: 110%;
  background-repeat: no-repeat;
  width: 100%;
  height: 740px;
  padding-top: 50px;
}

@media screen and (max-width: 1282px) {
  .quiz {
    height: 1000px;
    background-size: 170%;
  }
}

@media screen and (max-width: 1279px) {
  .quiz {
    height: 1000px;
    background-size: 170%;
  }
}

@media screen and (max-width: 1170px) {
  .quiz {
    height: 1050px;
    background-size: 180%;
  }
}

@media screen and (max-width: 1118px) {
  .quiz {
    background-size: 190%;
  }
}

@media screen and (max-width: 1024px) {
  .quiz {
    height: 990px;
    background-size: 202%;
  }
}

@media screen and (max-width: 768px) {
  .quiz {
    height: 1000px;
    background-size: 290%;
  }
}

@media screen and (max-width: 501px) {
  .quiz {
    height: 1200px;
    background-size: 540%;
  }
}

.quiz__text {
  text-align: center;
  margin: 20px auto;
  position: relative;
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .quiz__text {
    width: 80%;
  }
}

.quiz__text h1 {
  font-size: 40px;
  line-height: 45px;
}

@media screen and (max-width: 501px) {
  .quiz__text h1 {
    font-size: 25px;
    line-height: 25px;
  }
}

.quiz__text h1::before {
  content: "";
  position: absolute;
  top: 105px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 2px;
  background-color: var(--text-color-blue);
}

@media screen and (max-width: 501px) {
  .quiz__text h1::before {
    top: 70px;
  }
}

.quiz__text p {
  margin: 40px 0;
  color: #8f8f8f;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
}

@media screen and (max-width: 1282px) {
  .quiz__text p {
    margin: 35px 0px 15px 0;
  }
}

@media screen and (max-width: 501px) {
  .quiz__text p {
    font-size: 16px;
  }
}

.quiz__list {
  margin: 25px auto;
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 1282px) {
  .quiz__list {
    width: 85%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px auto;
  }
}

@media screen and (max-width: 1024px) {
  .quiz__list {
    height: 400px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .quiz__list {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.quiz__list--item {
  max-width: 300px;
  height: 250px;
  background-color: #68bfd08e;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1282px) {
  .quiz__list--item {
    margin: 25px 15px 25px 15px;
  }
}

@media screen and (max-width: 1279px) {
  .quiz__list--item {
    margin: 25px 15px 25px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .quiz__list--item {
    height: 250px;
  }
}

.quiz__list--item .wrap-quiz {
  width: 100%;
  height: 250px;
  border: 2px solid var(--text-color-blue);
  margin: 10px 0 0 12px;
  padding: 13px 15px;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .quiz__list--item .wrap-quiz {
    height: 250px;
  }
}

.quiz__list--item .wrap-quiz h3 {
  margin-bottom: 12px;
}

.quiz__list--item .wrap-quiz p {
  margin-bottom: 30px;
}

.quiz__list--item .wrap-quiz a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quiz__list--item:hover {
  background-color: #fafafa;
}

.quiz__list--item:hover .wrap-quiz {
  color: #fff;
  background-color: var(--text-color-blue);
}

.quiz__list--item:hover .wrap-quiz a {
  color: var(--text-color-blue);
  border-radius: 10px;
  background-color: #fff;
  padding: 8px 15px;
  font-weight: bold;
  text-decoration: none;
}

.team {
  width: 100%;
  height: 640px;
}

@media screen and (max-width: 1024px) {
  .team {
    height: 560px;
  }
}

@media screen and (max-width: 1151px) {
  .team {
    height: 1150px;
  }
}

@media screen and (max-width: 768px) {
  .team {
    height: 1650px;
  }
}

.team__text {
  text-align: center;
  margin: 30px auto;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 1282px) {
  .team__text {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .team__text {
    width: 100%;
  }
}

.team__text h1 {
  font-size: 40px;
}

@media screen and (max-width: 501px) {
  .team__text h1 {
    font-size: 25px;
  }
}

.team__text h1::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 2px;
  background-color: var(--text-color-blue);
}

@media screen and (max-width: 501px) {
  .team__text h1::before {
    top: 55px;
  }
}

.team__text p {
  margin-top: 35px;
  color: #8f8f8f;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
}

@media screen and (max-width: 501px) {
  .team__text p {
    font-size: 16px;
  }
}

.team__list {
  height: 470px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.team__list--item {
  max-width: 340px;
  margin-top: 20px;
}

@media screen and (max-width: 1151px) {
  .team__list--item {
    max-width: 400px;
  }
}

.team__list--item .doctor__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
}

.team__list--item .doctor__description {
  text-align: center;
  color: #8f8f8f;
  width: 80%;
  margin: 5px auto;
}

.team__list--item .doctor__image1 {
  height: 350px;
  width: 100%;
  background: url(../../../assets/doctor1.svg);
  background-size: 105%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1282px) {
  .team__list--item .doctor__image1 {
    height: 340px;
  }
}

@media screen and (max-width: 1260px) {
  .team__list--item .doctor__image1 {
    height: 340px;
  }
}

@media screen and (max-width: 1170px) {
  .team__list--item .doctor__image1 {
    height: 340px;
  }
}

@media screen and (max-width: 1151px) {
  .team__list--item .doctor__image1 {
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .team__list--item .doctor__image1 {
    height: 400px;
  }
}

.team__list--item .doctor__image2 {
  height: 350px;
  width: 100%;
  background: url(../../../assets/doctor2.svg);
  background-size: 105%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1282px) {
  .team__list--item .doctor__image2 {
    height: 340px;
  }
}

@media screen and (max-width: 1260px) {
  .team__list--item .doctor__image2 {
    height: 340px;
  }
}

@media screen and (max-width: 1170px) {
  .team__list--item .doctor__image2 {
    height: 340px;
  }
}

@media screen and (max-width: 1151px) {
  .team__list--item .doctor__image2 {
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .team__list--item .doctor__image2 {
    height: 400px;
  }
}

.team__list--item .doctor__image3 {
  height: 350px;
  width: 100%;
  background: url(../../../assets/doctor3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1282px) {
  .team__list--item .doctor__image3 {
    height: 340px;
  }
}

@media screen and (max-width: 1260px) {
  .team__list--item .doctor__image3 {
    height: 340px;
  }
}

@media screen and (max-width: 1170px) {
  .team__list--item .doctor__image3 {
    height: 340px;
  }
}

@media screen and (max-width: 1151px) {
  .team__list--item .doctor__image3 {
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .team__list--item .doctor__image3 {
    height: 400px;
  }
}

.chart {
  height: 350px;
  width: 100%;
  background: url(../../../assets/VintageHorizal.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1282px) {
  .chart {
    background-size: 105%;
  }
}

@media screen and (max-width: 1279px) {
  .chart {
    height: 350px;
    background-size: 110%;
  }
}

@media screen and (max-width: 1170px) {
  .chart {
    background-size: 120%;
  }
}

@media screen and (max-width: 1024px) {
  .chart {
    height: 300px;
    background-size: 118%;
  }
}

@media screen and (max-width: 940px) {
  .chart {
    background-size: 130%;
  }
}

@media screen and (max-width: 768px) {
  .chart {
    background-size: 159%;
  }
}

@media screen and (max-width: 501px) {
  .chart {
    background-size: 240%;
  }
}

.chart__list {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 200px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chart__list--item {
  height: auto;
  width: 30%;
}

.chart__list--item p {
  font-size: 60px;
  color: var(--text-color-white);
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 1170px) {
  .chart__list--item p {
    font-size: 55px;
  }
}

@media screen and (max-width: 940px) {
  .chart__list--item p {
    font-size: 45px;
  }
}

@media screen and (max-width: 501px) {
  .chart__list--item p {
    font-size: 35px;
  }
}

.chart__list--item h3 {
  color: var(--text-color-white);
  text-align: center;
  font-weight: normal;
}

@media screen and (max-width: 1170px) {
  .chart__list--item h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 940px) {
  .chart__list--item h3 {
    font-size: 18px;
    font-weight: normal;
  }
}

@media screen and (max-width: 501px) {
  .chart__list--item h3 {
    font-size: 15px;
  }
}

.customer {
  height: 550px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .customer {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .customer {
    height: 800px;
  }
}

@media screen and (max-width: 501px) {
  .customer {
    height: 700px;
  }
}

.customer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.customer__wrap--text {
  width: 50%;
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  .customer__wrap--text {
    width: 100%;
    margin-top: 50px;
  }
}

.customer__wrap--text h1 {
  font-size: 55px;
  line-height: 60px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .customer__wrap--text h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 501px) {
  .customer__wrap--text h1 {
    font-size: 30px;
    line-height: 30px;
  }
}

.customer__wrap--text h1::before {
  content: "";
  position: absolute;
  top: 140px;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: var(--text-color-blue);
}

@media screen and (max-width: 1024px) {
  .customer__wrap--text h1::before {
    top: 140px;
  }
}

@media screen and (max-width: 501px) {
  .customer__wrap--text h1::before {
    top: 85px;
  }
}

.customer__wrap--text p {
  font-size: 18px;
  color: #8f8f8f;
  margin-top: 50px;
}

.customer__wrap--text p>span {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  margin-top: 30px;
}

.customer__wrap--image {
  width: 50%;
  height: 570px;
  background: url(../../../assets/Customer.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .customer__wrap--image {
    margin: 0 auto;
    width: 70%;
    background-size: 100%;
    height: 410px;
  }
}

@media screen and (max-width: 501px) {
  .customer__wrap--image {
    height: 280px;
  }
}

.footer {
  background-color: chocolate;
  width: 100%;
  height: 400px;
  padding-top: 160px;
  background: url(../../../assets/BackgroundFooter.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
  .footer {
    background-size: 115%;
  }
}

@media screen and (max-width: 1170px) {
  .footer {
    background-size: 120%;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    height: 330px;
    padding-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    background-size: 150%;
  }
}

@media screen and (max-width: 501px) {
  .footer {
    background-size: 260%;
    height: 390px;
  }
}

.footer__contain {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 501px) {
  .footer__contain {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.footer__contain--logo {
  width: 40%;
}

@media screen and (max-width: 501px) {
  .footer__contain--logo {
    width: 100%;
  }
}

.footer__contain--logo h1 {
  color: var(--text-color-white);
  text-align: center;
}

.footer__contain .footer__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@media screen and (max-width: 501px) {
  .footer__contain .footer__list {
    margin-top: 20px;
  }
}

.footer__contain .footer__list--item {
  padding-top: 15px;
  width: 30%;
  color: var(--text-color-white);
}

.footer__contain .footer__list--item h3 {
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__contain .footer__list--item h3:hover {
  color: #dfdfdf;
  cursor: pointer;
}

.footer__contain .footer__list--item a {
  line-height: 30px;
  display: block;
  text-decoration: none;
  color: var(--text-color-white);
}

.footer__contain .footer__list--item a:hover {
  color: #dfdfdf;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
