.custom-sider {
  background-color: #299cb4 !important;
  height: 100%;
  position: fixed;
  z-index: 2;

  .sider-logo {
    text-align: center;
    height: 32px;
    margin: 16px;
    color: white;
    font-size: xx-large;
    font-weight: 900;
    cursor: pointer;
  }

  .custom-menu {
    background-color: #299cb4;
    border: none;
    margin-top: 25px;

    .custom-menu-item {
      color: white;
      font-size: 18px;
      font-weight: 700;
      margin: 16px 20px 0 20px;
      border-radius: 5px;

      &:hover {
        background-color: white;
        color: #299cb4 !important;
      }

      &:focus {
        background-color: white;
        color: #299cb4;
      }

      span > a {
        color: white;
        &:hover,
        &:active {
          color: #299cb4 !important;
        }
      }
    }
  }
}
