.ant-layout-sider-children {
  position: fixed !important;
  left: 0;
  width: 250px !important;
<<<<<<< HEAD
  height: 100%;

}
.custom-sider {
  background-color: #299cb4 !important;
  // width: inherit;
  position: fixed;
  // left: 0;
  z-index: 2;
=======
  background-color: #299cb4 !important;
}
.custom-sider {
  background-color: #299cb4 !important;
  height: 100;
  width: 250px;
  // width: inherit;
  position: fixed;
  z-index: 5;
  overflow: hidden;
>>>>>>> 67fd2dd62d04b21ad7872ff901d3c945f149b8b3
  // background-color: #299cb4 !important;

  .sider-logo {
    text-align: center;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 16px;
    color: white;
    font-size: xx-large;
    font-weight: 900;
    cursor: pointer;
    // background-color: rebeccapurple;
    .logo-dashboard {
      width: 170px;
      height: 64px;
      background: url(../../assets/LogoPsyCare.svg);
      background-size: 120px;
      background-repeat: no-repeat;
    }
  }

  .custom-menu {
    // width: ;
    // height: 100%;
    width: 250px;
    height: 600px;
    background-color: #299cb4;
    border: none;
    margin-top: 25px;

    .icon-dashboard {
      font-size: 24px;
    }
    .custom-menu-item {
      color: white;
      font-size: 18px;
      font-weight: 700;
      margin: 16px 20px 0 20px;
      border-radius: 5px;

      &:hover,
      &:focus {
        background-color: white;
        color: #299cb4 !important;
      }
      // .icon-dashboard {
      //   font-size: 24px;
      // }
      span > svg {
        font-size: 24px;
      }
      span > a {
        color: white;
        &:hover,
        &:active {
          color: #299cb4 !important;
        }
      }

      &.active {
        background-color: white;
        color: #299cb4 !important;

        a {
          color: #299cb4 !important;
        }
      }
    }
  }
}
