@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800&display=swap');

.result-form {
  text-align: center;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px auto;
  border-radius: 15px;
  font-family: "Nunito", 'sans-serif';

  .result {
    width: 80%;
    margin: auto;
    padding: 20px;

    h1, h2, h3 {
      font-weight: bold;
    }
  }
  
  .dotted {
    margin: auto;
    width: 30%;
    border-bottom: 5px solid #299CB4;
    padding: 5px;
  }
  
  .concludeResult {
    border: 2px solid #299CB4;
    width: 70%;
    margin: 5px auto;
    padding: 20px;
    border-radius: 15px;
    background: #e1f7fc;
  }
  
  .scoreSvg {
    position: relative;
  }
  
  .scoreQuiz {
    position: absolute;
    top: 41%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    font-size: 33px;
    color: white;
  }
}
