@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800&display=swap');

body{
    font-family: "Nunito",'sans-serif';
}
/* .site-card-wrapper{
    padding: 15px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 20px auto;
    border-radius: 15px;

} */

.selectQuizForm{
    width: 90%;
    margin:1% auto;
    border-radius: 15px;
}
.selectQuizForm h2{
    text-align: center;
}
#card{
    border-radius: 20px;
}
#card p{
    text-align: center;
}
.image1{
    width: 100%;
    height: 200px;
    background: url(../../assets/stress1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.image2{
    width: 100%;
    height: 200px;
    background: url(.././../assets/stress2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.image3{
    width: 100%;
    height: 200px;
    background: url(../../assets/stress3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.site-card-wrapper h2{
    text-align: center;
    padding-top: 10px;
}

#btt{
    background: rgb(22,114,134);
    background: linear-gradient(90deg, rgba(22,114,134,1) 0%, rgba(5,197,239,1) 75%);
    color: white;
    border-radius: 8px;
    width: 100px;
    margin: 0 auto;
}
#bt:hover{
    border: solid 1px #299CB4 ;
}




