@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.QAForm{
    width: 80%;
    margin: 1% auto;
}
.QAForm h2{
    margin-left: 5%;
}

#dropMenu{
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
    float: right;
    width: 30%;
    margin-bottom: 15px;
}
#dropMenu:hover{
    color: #299CB4;
    border: 1px solid #299CB4;
}
#dropMenu:focus{
    color: #299CB4;
    border: 1px solid #299CB4;
}
#inputQA{
    
    border-radius: 8px;
}
.comment {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 3%;
    padding: 1% 2%;
    border-radius: 8px;
}
.comment a{
    font-size: medium;
    font-weight: bolder;
}
.reply {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 2px 5px 5px;
    border-radius: 8px;
    border: 1px solid black;

}
.reply span{
    font-size: small;

}
img{
    width: 25px;
    height: 20px;
}



