.question-form {
  width: 90%;
  margin: 1% auto;

  h2 {
  }

  .drop-menu {
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    width: 20%;
    margin-bottom: 15px;

    &:hover,
    &:focus {
      color: #299CB4;
      border: 1px solid #299CB4;
    }
  }

  .question-input {
    border-radius: 8px;
    
    Input{
      &:hover,
      &:focus {
      border: 1px solid #299CB4;
      }
    }

    Button{
      &:hover,
      &:focus {
      color: #299CB4;
      border: 1px solid #299CB4;
      }
    }
  }

  .comment {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2%;
    padding: 1% 2%;
    border-radius: 8px;

    a {
      font-size: medium;
      font-weight: bolder;
    }

    .reply-comment{
      Button{
        &:hover, &:focus {
          border: 1px solid #299CB4;
          color: #299CB4;
        }

        padding: 0 7px;
        .fas{
          padding-right: 3px;
        }
      }
    }
  }
}
