:root {
  --text-color-white: #fff;
  --text-color-blue: #0891ac;
  --font-family: "Nunito";
  --backgroud-color: #addfeb;
  --gradient-button-color: linear-gradient(
    84.45deg,
    #167286 -5.05%,
    rgba(5, 197, 239, 0.703125) 120.32%
  );
}
