.userEmail {
  display: flex;
  flex-direction: column;
}

.doctor-list {
  padding: 1.375rem 1.625rem;

  table {
    padding: 1.5rem 1.625rem;
  }

  .ant-table-cell {
    background-color: white;
  }

  .ant-table-pagination {
    justify-content: flex-start;
  }
}
