.app-header {
  width: 100%;
  height: 64px;
  background-color: #ffffff !important;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  // padding: 0 30px;
  position: fixed;
  z-index: 2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .left-nar-bar {
    // background-color: palegoldenrod;
    width: 50%;
    height: 64px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;

    // .nar-search {
    //   width: 300px;
    // }

    .app-header-title {
      margin-bottom: 0;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 900;
    }

    // & > * {
    //   margin-right: 0.5rem;
    // }
  }

  .right-nar-bar {
    width: 30%;
    height: 64px;
    // background-color: paleturquoise;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 265px;
    z-index: 2;

    .IconSection {
      margin-right: 24px;
      font-size: 20px;
    }

    .avatar-profile {
      padding: 2px;
      border: 1px solid black;
      cursor: pointer;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-image: url(../../assets/programmer.png);
      background-size: 44px 44px;
    }
  }
}
