.app-header {
  width: 100%;
  height: 64px !important;
  background-color: orchid !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 2;

  .left-nar-bar {
    background-color: palegoldenrod;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .nar-search {
      width: 300px;
    }

    // & > * {
    //   margin-right: 0.5rem;
    // }
  }

  .right-nar-bar {
    width: 28%;
    // margin-right: 10px;
    background-color: paleturquoise;
    // margin-left: auto;
    display: flex;
    // flex-direction: row;
    align-items: center;
    // position: absolute;

    .IconSection {
      margin-right: 24px;
      font-size: 20px;
    }

    .avatar-profile {
      padding: 2px;
      border: 1px solid black;
      cursor: pointer;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-image: url(../../assets/programmer.png);
      background-size: 44px 44px;
    }
  }
}
