.app-header {
  background-color: white !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left-nar-bar {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .nar-search {
      width: 50%;
    }

    & > * {
      margin-right: 0.5rem;
    }
  }

  .right-nar-bar {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .IconSection {
      margin-right: 30px;
      font-size: 22px;
    }

    .avatar-profile {
      padding: 0;
      border: 1px solid black;
      cursor: pointer;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-image: url(../../assets/programmer.png);
      background-size: 44px 44px;
    }
  }
}
