@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.form{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 1.5%;
    border-radius: 3%;
}
.title{
    text-align: center;
}
.formReset{
    width: 80%;
}
.row{
    padding-bottom: 5%;
}
#bt{
    background: rgb(22,114,134);
    background: linear-gradient(90deg, rgba(22,114,134,1) 0%, rgba(5,197,239,1) 75%);
    color: snow;
    border-radius: 8px;
    width: 100%;
}