.btn-schedule-info {
  border: 2px solid #37afc8 !important;
  background-color: #37afc8 !important;
  cursor: pointer;
  color: #fff !important;
  font-weight: bold !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
