.feedback-form {
  text-align: center;
  width: 70%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px auto;
  border-radius: 15px;
  padding: 2% 0 2%;

  h2 {
    font-weight: bolder;
  }

  .feedback-text {
    width: 50%;
    margin: auto;
  }

  .feedback-text-area {
    margin: 3% 0 4%;
    border-radius: 15px;
    border: 3px solid #299CB4;
    background: #e5fbff;

    &:hover {
      border: 3px solid #299CB4;
    }
  }

  .btn-feedback {
    background: rgb(22, 114, 134);
    background: linear-gradient(90deg, rgba(22, 114, 134, 1) 0%, rgba(5, 197, 239, 1) 75%);
    color: white;
    width: 20%;
    border-radius: 8px;
  }
}
