@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800&display=swap');

.form {
  font-family: "Nunito", 'sans-serif';
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 450px;
  margin: 0 auto;
  padding: 1.5%;
  border-radius: 3%;

  .title{
    text-align: center;
  }
  Form {
    width: 80%;
  }

  .row {
    padding-bottom: 5%;
  }

  Button {
    border-radius: 0.3125rem;
  }

  .btn-submit {
    background: linear-gradient(90deg, rgba(22, 114, 134, 1) 0%, rgba(5, 197, 239, 1) 75%);
    color: snow;
    width: 100%;

    &:hover, &:focus {
      background: linear-gradient(90deg, rgba(22, 114, 134, 1) 0%, rgba(5, 197, 239, 1) 50%) !important;
      color: snow;
    }

  }

  .gg {
    height: 40px;
    width: 40px;
    border: solid 2px rgb(233, 230, 230);
    padding: 3px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
