.joinappointment{
    width: 50%;
    background-color: rgb(0, 0, 0);
}
.disable:hover:after{
    content: "Please come back on time"; 
    font-family: Arial;
    position: absolute;
    top: 0;
    width: 180px;
    height: 1.25rem;   
    background-color: gray;
    color: white;
}