@media screen and (max-width: 1279px) {
  .text {
    padding-top: 130px;
  }
  .text #text_upper {
    font-size: 20px;
  }
  .text .text_big {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
  }
  .text #text_para {
    width: 90%;
    font-weight: bold;
    margin: 20px 0px 40px 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1282px) {
  .main__quiz {
    height: 970px;
    background-size: 170%;
  }
  .main__quiz-list {
    width: 85%;
    justify-content: center;
    align-items: center;
    /* margin: 30px auto; */
  }
  .main__quiz-list .main__quiz-item {
    margin: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 580px;
  }
  .header__nav {
    height: 60px;
  }
  .nav__item {
    margin: 0 5px;
  }
  .nav__list .nav__item a {
    font-size: 15px;
  }

  .nav__item {
    margin: 0 15px;
  }
  .nav__login .login a {
    padding: 6px 22px;

    font-size: 15px;
  }
  .nav__login .register a {
    padding: 8px 18px;
    font-size: 15px;
  }

  .banner__text .text {
    padding-top: 100px;
  }
  .banner__text .text #text_upper {
    font-size: 15px;
  }
  .banner__text .text .text_big {
    font-size: 70px;
    font-weight: bold;
    line-height: 60px;
  }
  .banner__text .text #text_para {
    width: 90%;
    font-weight: bold;
    margin: 10px 0px 30px 0px;
    font-size: 15px;
  }
  .banner__text .text a {
    font-size: 15px;
    padding: 14px 18px;
  }

  .banner__text .slider__image {
    top: 77px;
    right: -125px;
  }
  /* ========SERVICE========= */
  .main__service {
    height: 700px;
  }
  .main__service-text {
    width: 60%;
  }
  .main__service-image {
    height: 500px;
  }
  .main__service-text h1 {
    font-size: 35px;
  }
  .main__service-text p {
    margin-top: 25px;
    color: #8f8f8f;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
  }
  .main__service-text h1::before {
    top: 50px;
  }
  /* ========CONNECT======= */
  .main__connect {
    height: 1100px;
  }
  .main__connect-item .connect-subitem {
    height: 80px;
  }
  .main__connect-text {
    width: 80%;
  }
  .main__connect-item {
    width: 60%;
    max-width: 500px;
  }
  /* ==========QUIZ============= */
  .main__quiz {
    height: 1100px;
    background-size: 230%;
  }
  .main__quiz-text {
    width: 70%;
  }
  .main__quiz-list {
    height: 400px;
  }
  .main__quiz-list .main__quiz-item {
    height: 250px;
  }
  .main__quiz-list .wrap-quiz {
    height: 250px;
  }
  /* =============TEAM============= */
  .main__team {
    height: 560px;
  }
  .main__team-item .doctor__image1,
  .main__team-item .doctor__image2,
  .main__team-item .doctor__image3 {
    height: 300px;
  }
  /* ==========CHART=========== */
  .main__chart {
    height: 300px;
    background-size: 100%;
  }
  /* ==========CUSTOMER========= */
  .main__customer {
    height: 500px;
  }
  .main__customer-text h1::before {
    top: 200px;
  }
  /* ===========Footer=========== */
  .footer {
    height: 330px;
    padding-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 550px;
  }
  .wrap__nav {
    background-color: #fafafa;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #0891ac;
  }
  .logo h1 {
    color: #0891ac;
  }
  /* hamburger */
  .nav__hamburger {
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  .header .wrap__nav {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .header .header__nav {
    height: 50px;
  }
  .logo {
    height: 50px;
  }

  /* =======Link Mobile */
  .nav__mobile {
    display: block;
    background-color: #fff;
    /* z-index: 5; */
  }

  .nav__input {
    display: none;
  }

  .nav__input:checked ~ .nav__overlay {
    display: block;
  }
  .nav__input:checked ~ .nav__mobile {
    transform: translate(0%);
    opacity: 1;
  }

  .nav__hamburger-list .ham_under a {
    border-bottom: 1px solid #0891ac3f;
  }
  .ham_login {
    border: 2px solid #0891ac3f;
  }
  .ham_login,
  .ham_register {
    text-align: center;
    margin-top: 15px;
    border-radius: 8px;
  }
  .ham_register {
    background: linear-gradient(
      84.45deg,
      #167286 -5.05%,
      rgba(5, 197, 239, 0.703125) 120.32%
    );
  }
  .ham_register a {
    color: #fff;
  }

  .ham_login:hover {
    background-color: #62949e3f;
  }
  .ham_register:hover {
    opacity: 0.8;
  }

  .exit__btn {
    cursor: pointer;
  }

  /* =========== */
  .header {
    height: 550px;
    background: url(./assets/BackgroundTablet.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .nav__list {
    display: none;
  }
  .nav__login {
    display: none;
  }
  .banner__text .text {
    padding-top: 80px;
  }
  .banner__text .text .text_big {
    font-size: 65px;
    line-height: 65px;
  }
  .banner__text .text #text_upper {
    display: none;
  }
  .banner__text .text #text_para {
    font-size: 16px;
    margin: 10px 0px 25px 0px;
  }

  .banner__text .text a {
    font-size: 13px;
    padding: 10px 14px;
  }
  .slider__image {
    display: none;
  }
  /* ============SERVICE=========== */
  .main__service {
    height: 700px;
  }
  .main__service-text {
    width: 80%;
  }
  .main__service-image {
    display: none;
  }
  .main__service-item {
    width: 100%;
    /* position: absolute; */
  }
  /* ==========Connect========= */
  .main__connect {
    height: 1000px;
  }
  .main__connect-text {
    width: 70%;
  }
  .main__connect-list .image {
    width: 60%;
    height: 400px;
  }
  .main__connect-item {
    width: 100%;
    /* background-color: bisque; */
  }
  .main__connect-item .connect-subitem {
    /* padding: 25px 20px; */
    height: 80px;
  }
  /* ===========QUIZ=========== */

  .main__quiz {
    height: 1300px;
    background-size: 380%;
  }
  .main__quiz-list {
    width: 100%;
    justify-content: center;
  }
  .main__quiz-list .main__quiz-item {
    width: 70%;
    /* margin-right: 50px; */
    height: 250px;
    margin-bottom: 20px;
  }
  .main__quiz-item .wrap-quiz {
    height: 250px;
  }
  .main__quiz-text h1 {
    font-size: 30px;
  }
  .main__connect-item h2 {
    font-size: 18px;
  }
  /* ============TEAM=========== */
  .main__team {
    height: 1500px;
  }
  .main__team-item {
    width: 100%;
  }
  .main__team-item .doctor__image1 {
    margin-left: 150px;
    height: 400px;
    width: 100%;
    background: url(./assets/doctor1.svg);
    background-size: 60%;
    background-repeat: no-repeat;
  }

  .main__team-item .doctor__image2 {
    margin-left: 150px;
    height: 400px;
    width: 100%;
    background: url(./assets/doctor2.svg);
    background-size: 60%;
    background-repeat: no-repeat;
  }

  .main__team-item .doctor__image3 {
    margin-left: 150px;
    height: 420px;
    width: 100%;
    background: url(./assets/doctor3.svg);
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .main__service-text {
    width: 100%;
  }
  .main__service-text h1 {
    font-size: 30px;
  }
  /* ================CUSTOMER============= */
  .main__customer {
    height: 900px;
  }
  .main__customer-text {
    width: 100%;
    height: 300px;
  }
  .main__customer-text h1::before {
    top: 140px;
  }
  .main__customer-image {
    height: 470px;
    background-size: 80%;
    width: 100%;
  }
  /* ===================FOOTER======= */
  .footer {
    height: 320px;
    background-size: 130%;
  }
}

@media screen and (max-width: 600px) {
  .banner__text .text {
    padding-top: 80px;
  }
  .banner__text .text .text_big {
    font-size: 60px;
    line-height: 60px;
  }
  .banner__text .text #text_upper {
    display: none;
  }
  .banner__text .text #text_para {
    font-size: 14px;
    margin: 10px 0px 20px 0px;
  }

  .banner__text .text a {
    font-size: 13px;
    padding: 10px 14px;
  }
}

@media screen and (max-width: 501px) {
  /* =========Header======== */
  .header {
    margin-top: 30px;
    height: 300px;
    background: url(./assets/BackGround-Mobile.svg);
    background-size: 111%;
    background-repeat: no-repeat;
  }
  .banner__text .text {
    padding-top: 35px;
  }
  .banner__text .text .text_big {
    font-size: 36px;
    line-height: 35px;
  }
  .banner__text .text #text_para {
    /* opacity: 0; */
    width: 100%;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .banner__text .text a {
    padding: 8px 12px;
  }

  /* ==========Service===== */
  .main__service {
    height: 650px;
  }
  .main__service-item {
    grid-column-gap: 40px;
  }
  .services__item .wrap__icon {
    width: 60px;
    height: 60px;
  }
  .services__item .icon {
    width: 50px;
    height: 50px;
  }
  .services__item .title::before {
    top: 125px;
  }
  .main__service-text {
    width: 90%;
  }
  .main__service-text h1 {
    font-size: 25px;
  }
  .main__service-text p {
    margin-top: 35px;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
  }
  .services__item .title {
    font-size: 14px;
  }
  .services__item .description {
    font-size: 12px;
  }
  /* ===========COnnect=========== */
  .main__connect {
    height: 800px;
  }
  .main__connect-text {
    width: 90%;
  }
  .main__connect-text h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .main__connect-list .image {
    height: 280px;
    width: 300px;
  }
  .main__connect-item h2 {
    font-size: 16px;
  }
  .main__connect-item h2::before {
    top: 70px;
  }
  .main__connect-item .connect-subitem {
    height: 90px;
  }
  /* =======QUIZ========== */
  .main__quiz {
    height: 1350px;
    background-size: 600%;
  }
  .main__quiz-text {
    margin-top: 60px;
    width: 100%;
  }
  .main__quiz-text h1 {
    font-size: 30px;
  }
  .main__quiz-text p {
    font-size: 15px;
    /* margin-bottom: 20px; */
  }
  .main__quiz-list {
    margin-top: 70px;
    /* width: 100%; */
  }
  .main__quiz-item .wrap-quiz {
    height: 250px;
  }
  .main__quiz-list .main__quiz-item {
    height: 250px;
    margin-bottom: 50px;
  }
  /* =======TEAM=========== */
  .main__team {
    height: 1250px;
  }
  .main__team-item .doctor__image1,
  .main__team-item .doctor__image2,
  .main__team-item .doctor__image3 {
    margin-left: 100px;
    height: 300px;
  }
  /* ============Chart  */
  .main__chart {
    height: 150px;
  }
  /* ==========Customer */
  .main__customer {
    height: 650px;
  }
  .main__customer-text {
    height: 250px;
    margin-bottom: 50px;
  }
  .main__customer-text h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .main__customer-text h1::before {
    top: 90px;
  }
  .main__customer-text p {
    font-size: 15px;
  }
  .main__customer-image {
    height: 300px;
    margin-left: 80px;
    background-size: 80%;
    width: 100%;
  }
  /* ========Foooter */
  .footer {
    height: 325px;
    background-size: 205%;
    padding-top: 90px;
    flex-wrap: wrap;
  }
  .footer__contain {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 414px) {
  .logo h1 {
    font-size: 15px;
  }
  .header {
    height: 280px;
  }
  .banner__text .text {
    padding-top: 70px;
    width: 50%;
  }
  .banner__text .text a {
    font-size: 12px;
    padding: 8px 12px;
  }
  .banner__text .text #text_para {
    opacity: 0;
    font-size: 12px;
    margin-bottom: -65px;
  }
  .banner__text .text .text_big {
    font-size: 30px;
    line-height: 30px;
  }
  .main__service-item {
    grid-column-gap: 10px;
  }
  .main__service-text {
    width: 100%;
  }

  .main__connect-item .connect-subitem {
    height: 115px;
  }

  .main__team {
    height: 1100px;
  }
  .main__team-item .doctor__image1,
  .main__team-item .doctor__image2,
  .main__team-item .doctor__image3 {
    margin-left: 80px;
    height: 250px;
  }
  .main__quiz {
    height: 1350px;
    background-size: 700%;
  }
  .main__quiz-text {
    margin-top: 150px;
    width: 100%;
  }
  .main__customer-text h1 {
    font-size: 30px;
    line-height: 40px;
    position: relative;
  }
  .main__customer-text h1::before {
    top: 100px;
  }

  .main__customer-image {
    height: 200px;
  }
  .main__chart {
    height: 120px;
  }
  .footer {
    height: 325spx;
    background-size: 240%;
    padding-top: 70px;
  }
}

@media screen and (max-width: 360px) {
  .banner__text .text {
    padding-top: 70px;
    width: 50%;
  }
  .logo h1 {
    font-size: 13px;
  }
  .header {
    height: 250px;
  }
  .banner__text .text a {
    font-size: 12px;
    padding: 8px 12px;
  }
  .banner__text .text #text_para {
    opacity: 0;
    font-size: 12px;
    margin-bottom: -115px;
  }
  .banner__text .text .text_big {
    font-size: 10px;
    line-height: 30px;
  }
}
